@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Nunito&display=swap');

$julia-blue: #4063d8;
$julia-green: #389826;
$julia-red: #CB3C33;
$julia-purple: #9558B2;

$primary: $julia-blue;
$info: $julia-purple;
$success: $julia-green;
$danger: $julia-red;

$family-sans-serif: Roboto;
$family-monospace: JuliaMono-Regular, monospace;
$family-code: JuliaMono-Regular, monospace;

@import "../node_modules/bulma/bulma.sass";
@font-face {
  font-family: JuliaMono-Regular;
  src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nunito, $family-sans-serif;
}

#search-output {
  min-height: 1080px;
}

code {
  background: none !important;
  color: $primary !important;
  font-size: 1.02em;
  padding: 0px;
}